* {
    box-sizing: border-box;
}

html {
    font-family: Ubuntu, system-ui, sans-serif;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -.04em;
    font-weight: 800;
    line-height: 1.15;
}

@media (max-width: 767px) {
    body {
        font-size: 1.8rem;
        line-height: 1.55;
        background-color: gold;
        display: grid;
        place-items: center;
    }
    img{
        max-width: 25vh;
        display: grid;
        place-items: center;
        margin: 5%;
        box-shadow: 0px 0px 7px black;
    }
}

@media (min-width: 768px) {
    header {
        display: grid;
        place-items: center;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(176, 155, 185));
        border-radius: 20px;
        color: white;
    }
    body {
        background-color: rgb(176, 155, 185);
        font-size: 2rem;
        line-height: 1.7;

        
    }

    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    img{
        max-width: 25vh;
        display: grid;
        grid-template-columns: 100px 50px 100px;
        grid-template-rows: 80px auto 80px; 
        column-gap: 10px;
        row-gap: 15px;
        /* filter: blur(0px); */
        box-shadow: 0px 0px 7px black;
        margin: 2%;
    }
    img:hover {
        /* -webkit-filter: blur(4px); Chrome, Safari, Opera */
        /* filter: blur(4px); */
        transition: border 0.3s ease-in;
        border: inset white;
    }
    footer{
        font-size: 1.2rem;
    }

}



