/*

global

*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*

font

*/

html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}

@media (max-width: 767px) {

  body {
    font-size: 1.8rem;
    line-height: 1.55;
  }

  header > h1 {
    font-size: 2rem;
    text-align: center;
  }

}

@media (min-width: 768px) {

  body {
    font-size: 2rem;
    line-height: 1.7;
  }

  header h1 {
    text-align: center;
  }

  footer > p {
    text-align: center;
    font-size: 1.5rem;
  }

}

/*

color

*/

body {
  background-color: #4CAF50;
  color: #FFF;
}

a {
  color: currentColor;
}

header h1 {
  text-shadow: 0 0 1rem rgba(0,0,0,.25);
}

main > ul > li {
  border-style: solid;
  border-color: rgba(255,255,255,.5);
}

@media (max-width: 767px) {

  main > ul > li {
    border-width: .4rem;
    box-shadow: inset 0 0 2rem rgba(255,255,255,.25);
  }

}

@media (min-width: 768px) {
  
  main > ul > li {
    border-width: .6rem;
    box-shadow: inset 0 0 4rem rgba(255,255,255,.25);
    transition: border-color 150ms ease-out;
  }
  
}

main > ul > li:hover {
  border-color: white;
}

main > ul > li:active {
  background-color: coral;
  border-color: rgba(255,255,255,.25);
}

@media (min-width: 768px) {

  footer {
    color: rgba(255,255,255,.5);
  }

  footer a {
    transition: color 150ms ease-out;
  }

  footer a:hover {
    color: white;
  }

}

/*

layout

*/

body {
  margin: 0;
  min-height: 100vh;
}

@media (max-width: 767px) {

  body {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  header {
    padding: .5rem .5rem 0;
  }

  header > h1 {
    margin: 0;
  }

  main {
    display: grid;
  }

  main > ul {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }

  main > ul > li {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    place-content: center;
    user-select: none;
  }

  main > ul > li img {
    max-width: 100%;
    height: auto;
  }

  main > ul > li svg {
    width: 100%;
    height: auto;
  }

  footer {
    display: none;
  }

}

@media (min-width: 768px) {
  
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    padding-top: 2rem;
  }

  header > h1 {
    margin: 0;
  }

  main {
    display: grid;
  }

  main > ul {
    list-style-type: none;
    margin: 0;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem;
    justify-content: center;
  }

  main > ul > li {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    place-content: center;
    user-select: none;
    cursor: grabbing;
  }

  footer {
    padding-bottom: .4rem;
  }

  footer > p {
    margin: 0;
  }
  
}